body {
    font-family: 'Arial', sans-serif;
}
.header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f3f3f3; /* Example background color */
}

.header > * {
    margin: 0 10px;
}

.search-input, .header a, .header button {
    padding: 5px;
    border: 1px solid #ddd; /* Border color */
    background-color: white; /* Background color */
    text-decoration: none; /* Removes underline from links */
    color: black; /* Text color */
    border-radius: 3px; /* Rounded corners */
    transition: all 0.3s; /* Smooth transition for hover effect */
}

.header button {
    cursor: pointer; /* Changes the cursor to a pointer on hover */
}

/* Hover effect */
.search-input:hover, .header a:hover, .header button:hover {
    border-color: #3498db; /* Border color on hover */
    color: #3498db; /* Text color on hover */
    background-color: #ecf6fd; /* Background color on hover */
}

/* Active link styling */
.header a.active {
    border-color: #3498db;
    color: #3498db;
}

/* This is for the search button specifically */
.header button {
    padding-left: 10px;
    padding-right: 10px;
}

.site-title {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Helvetica Neue', sans-serif;
    color: #3498db;  /* Brand color or any color that fits your design */
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);  /* Subtle shadow for depth */
}

.main-title {
    text-align: center;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #333;
    font-weight: bold;
}

/*.genre-list-container {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*#genre-list {*/
/*    background-color: transparent; !* Remove the background *!*/
/*    color: #007bff; !* Set the text color to Bootstrap's primary blue *!*/
/*    display: grid;*/
/*    grid-template-columns: repeat(4, 1fr); !* 4 items per row *!*/
/*    grid-gap: 60px 10px;*/
/*    padding: 20px;*/
/*    text-align: center;*/
/*    border-radius: 0;*/
/*    text-decoration: none;*/
/*    font-size: 18px;*/
/*    transition: color 0.2s ease-in-out;*/
/*}*/

/*!* New style for genre links *!*/
/*#genre-list a {*/
/*    background-color: #007bff; !* Bootstrap primary color *!*/
/*    color: white;*/
/*    display: block;*/
/*    padding: 8px 12px;*/
/*    text-align: center;*/
/*    border-radius: 4px;*/
/*    text-decoration: none;*/
/*    transition: background-color 0.2s ease-in-out;*/
/*    margin: 0;*/
/*}*/

/*#genre-list a:hover {*/
/*    color: #0056b3; !* A darker blue on hover *!*/
/*    text-decoration: none; !* No underline on hover *!*/
/*}*/

#genre-list {
    background-color: transparent; /* Remove the background */
    color: #007bff; /* Set the text color to Bootstrap's primary blue */
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 items per row */
    grid-gap: 10px;
    padding: 20px;
    text-align: center;
    border-radius: 0;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.2s ease-in-out;
}

/* New style for genre links */
#genre-list a {
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    display: block;
    padding: 15px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

#genre-list a:hover {
    color: #0056b3; /* A darker blue on hover */
    text-decoration: none; /* No underline on hover */
}

#title-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.char-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.char-row a {
    margin: 5px;
    padding: 8px 16px;
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

.char-row a:hover {
    background-color: #0056b3; /* A darker blue on hover */
}
