body {
    font-family: 'Arial', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f3f3f3;
}

.header > * {
    margin: 0 10px;
}

.search-input, .header a, .header button {
    padding: 5px;
    border: 1px solid #ddd;
    background-color: white;
    text-decoration: none;
    color: black;
    border-radius: 3px;
    transition: all 0.3s;
}

.header button {
    cursor: pointer;
}

/* Hover effect */
.search-input:hover, .header a:hover, .header button:hover {
    border-color: #3498db;
    color: #3498db;
    background-color: #ecf6fd;
}

/* Active link styling */
.header a.active {
    border-color: #3498db;
    color: #3498db;
}

.header button {
    padding-left: 10px;
    padding-right: 10px;
}

.site-title {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Helvetica Neue', sans-serif;
    color: #3498db;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

#movieList_table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff; /* White background for table */
    box-shadow: 0 2px 15px rgba(0,0,0,0.1); /* Subtle shadow for depth */
}

#movieList_table thead th {
    background-color: #3498db;
    color: white;
    font-size: 16px;
    padding: 12px 15px;
    text-align: left;
}

#movieList_table tbody td {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    color: #333;
    font-size: 14px;
}

#movieList_table tr:hover {
    background-color: #f1f1f1; /* Hover effect for table rows */
}

#movieList_table a {
    color: #3498db; /* Link color */
    text-decoration: none;
}

#movieList_table a:hover {
    text-decoration: underline; /* Underline on hover for links */
}

.add-to-cart {
    background-color: #28a745; /* Success color for add to cart button */
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #218838; /* Darker green on hover */
}

h1 {
    font-size: 3em;
    font-weight: bold;
    font-family: 'Helvetica Neue', sans-serif;
    color: #3498db;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    background-color: transparent;
    display: inline-block;
    padding: 0.2em;
    border-radius: 10px;
    margin-bottom: 0;
}

.pagination-select,
.sorting-select {
    display: inline-block;
    width: auto;
    margin-left: 0.5em;
}

.pagination-label,
.sorting-label {
    display: inline-block;
}

.results-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    max-width: 100%;
    margin: auto;
}

.dropdown-controls {
    display: flex;
    align-items: center;
}

/* Autocomplete styles */
.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

.autocomplete-searchbox {
    height: 50px;
    width: 600px;
}
