body {
    font-family: 'Arial', sans-serif;
}
.header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f3f3f3; /* Example background color */
}

.header > * {
    margin: 0 10px;
}

.search-input, .header a, .header button {
    padding: 5px;
    border: 1px solid #ddd; /* Border color */
    background-color: white; /* Background color */
    text-decoration: none; /* Removes underline from links */
    color: black; /* Text color */
    border-radius: 3px; /* Rounded corners */
    transition: all 0.3s; /* Smooth transition for hover effect */
}

.header button {
    cursor: pointer; /* Changes the cursor to a pointer on hover */
}

/* Hover effect */
.search-input:hover, .header a:hover, .header button:hover {
    border-color: #3498db; /* Border color on hover */
    color: #3498db; /* Text color on hover */
    background-color: #ecf6fd; /* Background color on hover */
}

/* Active link styling */
.header a.active {
    border-color: #3498db;
    color: #3498db;
}

/* This is for the search button specifically */
.header button {
    padding-left: 10px;
    padding-right: 10px;
}

.site-title {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Helvetica Neue', sans-serif;
    color: #3498db;  /* Brand color or any color that fits your design */
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);  /* Subtle shadow for depth */
}

#movieList_table {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}
th, td {
    border: 1px solid #ddd;
    padding: 15px;
    text-shadow: 1px 1px 3px #000;
    font-weight: 500;
}
thead th {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.9);
}
#movieList_table tr:hover {
    background-color: #e0e0e0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#movieList_table a {
    color: #FFD700;
    text-decoration: none;
}
#movieList_table a:hover {
    color: #FFA500;
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    font-family: 'Helvetica Neue', sans-serif;
    color: #3498db;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    /*background-color: rgba(0, 0, 0, 0.5);*/
    background-color: transparent;
    display: inline-block;
    padding: 0.2em;
    border-radius: 10px;
    margin-bottom: 0;
}

.pagination-select,
.sorting-select {
    display: inline-block;
    width: auto; /* Make the dropdowns automatically size to their content */
    margin-left: 0.5em; /* Add spacing between label and dropdown */
}

.pagination-label,
.sorting-label {
    display: inline-block;
}

.results-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    max-width: 100%;
    margin: auto; /* This will center the div if the table is also centered */
}

.dropdown-controls {
    display: flex;
    align-items: center;
}