body {
    font-family: 'Arial', sans-serif;
}
.header {
    display: flex;
    align-items: center;
    padding: 10px;
}
.header > * {
    margin: 0 10px;
}
.search-input {
    padding: 5px;
}
.search-bar {
    display: flex;
    align-items: center;
}
body {
    /*background-image: url('./images/movie-wall.jpg');*/
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#star_info {
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 10px;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
    font-size: 22px;
    text-shadow: 1px 1px 2px grey;
}

h1 {
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: inline-block;
    padding: 0.5em;
    border-radius: 10px;
}

#star_info a {
    color: #FFD700; /* Bright yellow color for links */
    text-decoration: none; /* removes underline from links */
}

#star_info a:hover {
    color: #FFEA00; /* Slightly lighter yellow on hover */
}

.btn-primary {
    background-color: rgba(0, 0, 0, 0.8); /* Similar style for button */
    border: none;
    box-shadow: 2px 2px 4px #000000;
}

.btn-primary:hover {
    background-color: #FFA500; /* Hover color orange */
}