body {
    font-family: 'Arial', sans-serif;
}
.header {
    display: flex;
    align-items: center;
    padding: 10px;
}
.header > * {
    margin: 0 10px;
}
.search-input {
    padding: 5px;
}
.search-bar {
    display: flex;
    align-items: center;
}
#movie_info {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

body {
    /*background-image: url('./images/movie-wall.jpg');*/
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: inline-block;
    padding: 0.5em;
    border-radius: 10px;
}

#star_info p, #movie_info {
    font-family: 'Arial', sans-serif;
    font-size: 22px;
    text-shadow: 1px 1px 2px grey;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

#star_info a, #movie_info a {
    color: #FFD700;
    text-decoration: none;
}

#star_info a:hover, #movie_info a:hover {
    color: #FFEA00;
}

.btn-primary {
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    box-shadow: 2px 2px 4px #000000;
}

.btn-primary:hover {
    background-color: #FFA500;
}