body {
    font-family: 'Arial', sans-serif;
}
.header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f3f3f3;
}

.header > * {
    margin: 0 10px;
}

.search-input, .header a, .header button {
    padding: 5px;
    border: 1px solid #ddd;
    background-color: white;
    text-decoration: none;
    color: black;
    border-radius: 3px;
    transition: all 0.3s;
}

.header button {
    cursor: pointer;
}

/* Hover effect */
.search-input:hover, .header a:hover, .header button:hover {
    border-color: #3498db;
    color: #3498db;
    background-color: #ecf6fd;
}

.header a.active {
    border-color: #3498db;
    color: #3498db;
}

.header button {
    padding-left: 10px;
    padding-right: 10px;
}

.site-title {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Helvetica Neue', sans-serif;
    color: #3498db;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

body {
    /*background-image: url('./images/movie-wall.jpg');*/
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#star_info {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
    font-size: 22px;
    text-shadow: 1px 1px 2px grey;
}

h1 {
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 0.5em;
    border-radius: 10px;
}

#star_info a {
    color: #FFD700;
    text-decoration: none;
}

#star_info a:hover {
    color: #FFEA00;
}

.btn-primary {
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    box-shadow: 2px 2px 4px #000000;
}

.btn-primary:hover {
    background-color: #FFA500;
}