body {
    font-family: 'Arial', sans-serif;
}
.header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f3f3f3; /* Example background color */
}

.header > * {
    margin: 0 10px;
}

.search-input, .header a, .header button {
    padding: 5px;
    border: 1px solid #ddd; /* Border color */
    background-color: white; /* Background color */
    text-decoration: none; /* Removes underline from links */
    color: black; /* Text color */
    border-radius: 3px; /* Rounded corners */
    transition: all 0.3s; /* Smooth transition for hover effect */
}

.header button {
    cursor: pointer; /* Changes the cursor to a pointer on hover */
}

/* Hover effect */
.search-input:hover, .header a:hover, .header button:hover {
    border-color: #3498db; /* Border color on hover */
    color: #3498db; /* Text color on hover */
    background-color: #ecf6fd; /* Background color on hover */
}

/* Active link styling */
.header a.active {
    border-color: #3498db;
    color: #3498db;
}

/* This is for the search button specifically */
.header button {
    padding-left: 10px;
    padding-right: 10px;
}

.site-title {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Helvetica Neue', sans-serif;
    color: #3498db;  /* Brand color or any color that fits your design */
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);  /* Subtle shadow for depth */
}

body {
    /*background-image: url('./images/movie-wall.jpg');*/
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#star_info {
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 10px;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
    font-size: 22px;
    text-shadow: 1px 1px 2px grey;
}

h1 {
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: inline-block;
    padding: 0.5em;
    border-radius: 10px;
}

#star_info a {
    color: #FFD700; /* Bright yellow color for links */
    text-decoration: none; /* removes underline from links */
}

#star_info a:hover {
    color: #FFEA00; /* Slightly lighter yellow on hover */
}

.btn-primary {
    background-color: rgba(0, 0, 0, 0.8); /* Similar style for button */
    border: none;
    box-shadow: 2px 2px 4px #000000;
}

.btn-primary:hover {
    background-color: #FFA500; /* Hover color orange */
}